<!-- 侧边栏 -->
<div class="aside fl">
    <ul class="menu list-unstyled">
        <li>
            <a class="item {{currentLink=='user'?'active':''}}" href="/admin/user">
                <span class="glyphicon glyphicon-user"></span> 用户管理
            </a>
        </li>
        <li>
            <a class="item {{currentLink=='article'?'active':''}}" href="/admin/article">
                <span class="glyphicon  glyphicon-home"></span> 房间信息管理
            </a>
        </li>
        <li>
            <a class="item {{currentLink=='preview'?'active':''}}" href="/admin/preview">
                <span class="glyphicon glyphicon-phone-alt"></span> 预定信息管理
            </a>
        </li>
        <li>
            <a class="item {{currentLink=='comment'?'active':''}}" href="/admin/comment">
                <span class="glyphicon glyphicon-comment"></span> 评论管理
            </a>
        </li>
    </ul>
    <div class="cprt">
        Powered by <a href="https://www.ctrip.com/" target="_blank">携程网</a>
    </div>
</div>
<!-- 侧边栏 -->