<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="/admin/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/css/base.css">


</head>
<style>
    #yu {
        width: 130px;
    }
</style>

<body>

    <div class="login-body" style="background-color: #eef7f2 !important;">
        <div class="login-container">
            <h4 class="title">酒店后台管理 - 登录</h4>
            <div class="login">
                <form action="/admin/login" method="post" id="loginForm">
                    <div class="form-group">
                        <label style="display: block;">邮件</label>
                        <input name="email" id="email" type="email" class="form-control" style="width: 280px;display: inline-block;" placeholder="请输入邮件地址">
                        <p class="messages" style="font-size: 14px;display: inline-block;">请输入邮件地址</p>
                    </div>
                    <div class="form-group">
                        <label style="display: block;">密码</label>
                        <label><img src="images/close.png" id="eye"></label>
                        <input id="mima" name="password" type="password" style="width: 280px;display: inline-block;margin-left: -4px;" class="form-control" placeholder="请输入密码">
                        <p class="message" style="font-size: 14px;display: inline-block;">请输入6~16位密码</p>
                    </div>
                    <div style="padding-top: 10px;">
                        <input type="text" id="yu" value="" class="form-control zhou" placeholder="请输入验证码" style="box-sizing: border-box;display: inline;">
                        <canvas style="vertical-align: middle; box-sizing: border-box;cursor: pointer;" id="canvas" width="110" height="30"></canvas>

                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;width: 100px;">登录</button>
                    <div style="margin: 10px 0px;font-size: 14px;letter-spacing: .1em;">没有账号? 点我<a style="cursor: pointer;" href="/admin/register">注册</a></div>

                </form>

            </div>
            <div class="tips"></div>
        </div>
    </div>


    <script src="/admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="/admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/js/common.js"></script>
    <script type="text/javascript">
        var checkEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var email = document.querySelector('#email');
        var messages = document.querySelector('.messages');
        //为表单添加提交事件
        $('#loginForm').on('submit', function() {
            //获取表单中用户输入的数据
            var result = serializeToJson($(this))

            if (result.email.trim().length == 0 && result.password.trim().length == 0) {
                alert('请输入邮件地址和邮件密码!')
                    //阻止程序向下执行
                return false;
            }

            if (result.email.trim().length == 0) {
                alert('请输入邮件地址!')
                    //阻止程序向下执行
                return false;
            }


            if (result.password.trim().length == 0) {
                alert('请输入邮件密码!')
                    //阻止程序向下执行
                return false;
            }


        });

        var ipt = document.querySelector('#mima');
        var message = document.querySelector('.message');
        //2. 注册事件 失去焦点
        ipt.onblur = function() {
            // 根据表单里面值的长度 ipt.value.length
            if (this.value.length < 6 && this.value.length > 0) {
                // console.log('错误');
                message.className = 'message wrong';
                message.innerHTML = '您输入的位数太短了！';

            } else if (this.value.length == 0) {

                message.className = 'message ';
                message.innerHTML = '密码不可以为空哦！';

            } else if (this.value.length > 16) {
                message.className = 'message wrong';
                message.innerHTML = '您输入的位数太长啦！';

            } else {
                message.className = 'message right';
                message.innerHTML = '您输入的密码格式正确！';
            }
        }

        email.onblur = function() {
            if (checkEmail.test(this.value)) {

                messages.className = 'message right';
                messages.innerHTML = '您输入的邮箱格式正确！';


            } else if (this.value.length == 0) {
                messages.className = 'message ';
                messages.innerHTML = '邮箱不可以为空哦！';
            } else {
                messages.className = 'message wrong';
                messages.innerHTML = '您输入的邮箱格式错误！';

            }
        }

        //获取元素
        var eye = document.getElementById('eye');
        var mima = document.getElementById('mima');
        //注册事件，处理程序
        var flag = 0;
        eye.onclick = function() {
            if (flag == 0) {
                mima.type = 'text';
                eye.src = 'images/open.png';
                flag = 1;
            } else {
                mima.type = 'password';
                eye.src = 'images/close.png';
                flag = 0;

            }

        }


        //添加验证码图片
        $(function() {
                var show_num = [];
                draw(show_num);
                $("#canvas").on('click', function() {
                    draw(show_num);
                })
                $(".btn").on('click', function() {
                    var val = $(".zhou").val().toLowerCase();
                    var num = show_num.join(""); //用于把数组中的所有元素放入一个字符串。
                    if (val == '') {
                        alert('请输入验证码！');
                        return false;
                    } else if (val == num) {


                        // draw(show_num);
                    } else {
                        alert('验证码错误！请重新输入！');
                        $(".zhou").val('');
                        draw(show_num);
                        return false;
                        // draw(show_num);
                    }
                })
            })
            //生成并渲染出验证码图形
        function draw(show_num) {
            var canvas_width = $('#canvas').width();
            var canvas_height = $('#canvas').height();
            var canvas = document.getElementById("canvas"); //获取到canvas的对象
            var context = canvas.getContext("2d"); //获取到canvas画图的环境
            canvas.width = canvas_width;
            canvas.height = canvas_height;
            var sCode = "a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
            var aCode = sCode.split(","); //把字符串分割成字符串数组。
            var aLength = aCode.length; //获取到数组的长度
            for (var i = 0; i < 5; i++) { //这里的for循环可以控制验证码位数（如果想显示6位数，4改成6即可）
                var j = Math.floor(Math.random() * aLength); //获取到随机的索引值,random() 方法可返回介于 0（包含） ~ 1（不包含） 之间的一个随机数。
                // var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
                var deg = Math.random() - 0.5; //产生一个随机弧度
                var txt = aCode[j]; //得到随机的一个内容
                show_num[i] = txt.toLowerCase();
                var x = 10 + i * 20; //文字在canvas上的x坐标
                var y = 20 + Math.random() * 8; //文字在canvas上的y坐标
                context.font = "bold 23px 微软雅黑";
                context.translate(x, y);
                context.rotate(deg);
                context.fillStyle = randomColor();
                context.fillText(txt, 0, 0);
                context.rotate(-deg);
                context.translate(-x, -y);
            }
            for (var i = 0; i <= 5; i++) { //验证码上显示线条
                context.strokeStyle = randomColor();
                context.beginPath();
                context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.stroke();
            }
            for (var i = 0; i <= 30; i++) { //验证码上显示小点
                context.strokeStyle = randomColor();
                context.beginPath();
                var x = Math.random() * canvas_width;
                var y = Math.random() * canvas_height;
                context.moveTo(x, y);
                context.lineTo(x + 1, y + 1);
                context.stroke();
            }
        }
        //得到随机的颜色值
        function randomColor() {
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            return "rgb(" + r + "," + g + "," + b + ")";
        }
    </script>
</body>

</html>