<div class="w">
    <div class="mod_copyright">
        <p class="mod_copyright_link">
            <a href="http://pages.ctrip.com/public/sitemap/sitemap.htm">网站导航</a> | <a href="http://hotels.ctrip.com/jiudian/">宾馆索引</a> | <a href="http://flights.ctrip.com/booking/hot-city-flights-sitemap.html ">机票索引</a> | <a href="http://pages.ctrip.com/public/sitemap/dj.html">旅游索引</a>            |<a href="http://ct.ctrip.com/crptravel/sitemap.html">商旅索引</a> | <a href="http://you.ctrip.com/sitemap/">攻略索引  </a> |
            <a href="http://pages.ctrip.com/public/ctripab/abctrip.htm">关于携程</a> | <a href="http://job.ctrip.com/">诚聘英才</a> | <a href="http://pages.ctrip.com/public/ctripad/adyw.htm">广告业务</a> | <a href="http://pages.ctrip.com/public/contact.htm"> 联系我们</a>            | English Site | Contact U
        </p>
        <p class="mod_copyright_info">
            地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话： 400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn <br> 京ICP备08001421号京公网安备110108007702
        </p>

    </div>
</div>