<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/home/css/base.css">
    <link rel="stylesheet" href="/admin/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/css/banner.css"> {{block 'link'}}{{/block}}
</head>

<body>

    {{block 'main'}} {{/block}}
    <script src="/home/js/app.js"></script>
    <script src="/home/js/bootstrap.js"></script>
    <script src="/home/js/pinglun.js"></script>
    <script src="/home/js/common.js"></script>

    <script src="/home/js/word-count-control.js"></script>
    <script src="/home/lib/jquery/dist/jquery.min.js"></script>
    <script src="/home/lib/bootstrap/js/bootstrap.min.js"></script>


    <script src="/home/js/banner.js"></script>
    {{block 'script'}}{{/block}}
</body>

</html>