{{extend './common/layout.html'}} {{block 'link'}}
<link rel="stylesheet" href="/home/css/index.css">
<link rel="stylesheet" href="/home/css/article.css">
<link rel="stylesheet" href="/home/css/pinglun.css"> {{/block}} {{block 'main'}} {{include './common/shortcart.html'}}
<!-- 文章列表开始 -->

<div class="g">



    <div>
        <div class="box_md">
            <h3>修改密码</h3>
        </div>
        <div class="main1">
            <div class="left">
                <div style="margin-top: 20px;text-align: center;">
                    <a href="/home" style="color: black;font-size: 14px;">首页</a>
                </div>
                {{if user}}
                <div style="margin-top: 20px;text-align: center;">
                    <a href="/home/order?id={{@user._id}}" style="color: black;font-size: 14px;">我的订单</a>
                </div>
                {{else}} {{/if}}
                <div style="margin-top: 20px;text-align: center;">
                    <a href="/home/password" style="color: black;font-size: 14px;">修改密码</a>
                </div>


            </div>

            <div class="right2 ">
                <div class="title">

                    <p class="tips">{{message}}</p>
                </div>

                <form class="form-container" action="/home/modify-pwd" method="POST" id="modifyForm">
                    <div class="form-group">

                        <label>旧密码:</label> <input name="userPass" type="password" style="width: 250px;display: inline-block !important;margin-left: 20px;" class="form-control" placeholder="请输入旧密码">
                    </div>
                    <div class="form-group">
                        <label>新密码:</label>
                        <input name="newPass" type="password" style="width: 250px;display: inline-block !important;margin-left: 20px;" class="form-control" placeholder="请输入新密码">
                    </div>
                    <div class="form-group">
                        <label style="margin-left: -24px;">确认新密码:</label>
                        <input name="confirmPass" type="password" style="width: 250px;display: inline-block !important;margin-left: 20px;" class="form-control" placeholder="确认新密码">
                    </div>
                    <div class="buttons">
                        <input type="submit" class="btn btn-primary" value="修改密码">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>









{{block 'script'}}


<!--此段代码不可移动位置-->
<script type="text/javascript ">
    loads();
    $("#modifyForm").on('submit', function() {
        //获取用户id

        //获取表单中用户输入的数据
        var result = serializeToJson($(this))
        if (result.userPass.trim().length == 0) {
            alert('请输入旧密码!')
                //阻止程序向下执行
            return false;
        }

        if (result.newPass.trim().length == 0) {
            alert('请输入新密码!')
                //阻止程序向下执行
            return false;
        }


        if (result.confirmPass.trim().length == 0) {
            alert('请输入确认密码!')
                //阻止程序向下执行
            return false;
        }
    })
</script>
<!--此段代码不可移动位置-->{{/block}} {{include './common/foot.html'}}
<!-- 分页结束 -->
{{/block}}